[submodule "examples/robotchef_allinone"]
	path = examples/robotchef_allinone
	url = https://github.com/python-lml/robotchef_allinone.git
[submodule "examples/robotchef_allinone_lml"]
	path = examples/robotchef_allinone_lml
	url = https://github.com/python-lml/robotchef_allinone_lml.git
[submodule "examples/robotchef"]
	path = examples/robotchef
	url = https://github.com/python-lml/robotchef.git
[submodule "examples/robotchef_cook"]
	path = examples/robotchef_cook
	url = https://github.com/python-lml/robotchef_cook.git
[submodule "examples/robotchef_britishcuisine"]
	path = examples/robotchef_britishcuisine
	url = https://github.com/python-lml/robotchef_britishcuisine.git
[submodule "examples/robotchef_chinesecuisine"]
	path = examples/robotchef_chinesecuisine
	url = https://github.com/python-lml/robotchef_chinesecuisine.git
